{{=app.description}}
<h5 class="text-info">{{=T('Known Conversation:')}}</h5>
{{for p in pairs:}}
<h6>{{=p['name']}}</h6>
Src IP:<span class='label label-success'>{{=p['src_ip'] or '*'}}</span>
Dst IP:<span class='label label-success'>{{=p['dst_ip'] or '*'}}</span>
Protocol:<span class='label label-success'>{{=p['protocol'] or '*'}}</span>
Src Port:<span class='label label-success'>{{=p['src_port'] or '*'}}</span>
Dst Port:<span class='label label-success'>{{=p['dst_port'] or '*'}}</span>
{{pass}}
