{{extend 'layout.html'}}

<style type="text/css">
    .label-tip{
        cursor: pointer;
    }
</style>

<h3>Policy</h3>

<div class="pull-right" style="padding-bottom:5px;">
<input id='search' type="text" class="input search-query span2" placeholder='Search/Filter' style='height:12px;'/>
<a class="btn btn-mini btn-success" id="btn-new">{{=I('',_class='icon-plus')}} {{=T('New')}}</a>
<a class="btn btn-mini btn-danger" id="btn-del">{{=I('',_class='icon-trash')}} {{=T('Delete')}}</a>
<!--a class="btn btn-mini btn-info" id="btn-apply">{{=T('Apply')}}</a-->
</div>

<ul class="nav nav-tabs" style="margin-bottom:10px;">
	<li class="active"><a href="#filterview" data-toggle="tab">Filter</a></li>
	<li><a href="#ruleview" data-toggle="tab">Rule</a></li>
	<li><a href="#rulesetview" data-toggle="tab">Rule Set</a></li>
</ul>

<div id="routetabs" class="tab-content">
<div class="tab-pane active" id="filterview">
<table class="table table-bordered table-condensed table-hover" id="filter_table">
{{=THEAD(TR(TH(XML('<input class="toggle-all" type="checkbox">'),_width="10"),
            TH(T('Name')),
            TH(T('Src MAC')),
            TH(T('Dst MAC')),
            TH(T('Ether Type')),
            TH(T('Src IP')),
            TH(T('Dst IP')),
            TH(T('Protocol')),
            TH(T('Src L4 Port#')),
            TH(T('Dst L4 Port#')),
            TH(T('Vlan ID')),
            TH(T('Conversation')),
         ))}}
{{for f in filters:}}
    <tr>
        <td><input class="sel" value="{{=f.id}}" type='checkbox'></td>
        <td><a href='edit_record/filter/{{=f.id}}' target='_blank'>{{=f.name}}</a></td>
        <td>{{=f.datalayerSrc}}</td>
        <td>{{=f.datalayerDst}}</td>
        <td>{{=f.etherType}}</td>
        <td>{{=f.networkSrc}}</td>
        <td>{{=f.networkDst}}</td>
        <td>{{=f.protocol}}</td>
        <td>{{=f.transportPortSrc}}</td>
        <td>{{=f.transportPortDst}}</td>
        <td>{{=f.vlanId}}</td>
        <td><div class='label label-info label-tip' data-toggle='tooltip' title='{{=f.monitor_pair_id.description}}'
                onClick=showPairModel("{{=f.monitor_pair_id.name}}",{{=f.monitor_pair_id}})>
                {{=f.monitor_pair_id.name}}</div></td>
    </tr>
{{pass}}
</table>
</div>

<div class="tab-pane" id="ruleview">
<table class="table table-bordered table-condensed table-hover" id="rule_table">
{{=THEAD(TR(TH(XML('<input class="toggle-all" type="checkbox">'),_width="10"),
            TH(T('Name')),
            TH(T('Filter')),
            TH(T('Source Port')),
            TH(T('Device(s)')),
            TH(T('Description')),
         ))}}
{{for r in rules:}}
    <tr>
        <td><input class="sel" value="{{=r.id}}" type='checkbox'></td>
        <td><a href='edit_record/rule/{{=r.id}}' target='_blank'>{{=r.name}}</a></td>
        <td>{{=r.monitor_filter}}</td>
        <td>{{=r.sourcePort}}</td>
        <td>{{for p in r.device.split(','):
            =XML('<div class="label label-info">%s</div> '%p)
        pass}}</td>
        <td>{{=r.description}}</td>
    </tr>
{{pass}}
</table>
</div>

<div class="tab-pane" id="rulesetview">
<table class="table table-bordered table-condensed table-hover" id="ruleset_table">
{{=THEAD(TR(TH(XML('<input class="toggle-all" type="checkbox">'),_width="10"),
            TH(T('Name')),
            TH(T('Descrition')),
            TH(T('Rules')),
         ))}}
{{for r in rulesets:}}
    <tr>
        <td><input class="sel" value="{{=r.id}}" type='checkbox'></td>
        <td><a href='edit_record/ruleset/{{=r.id}}' target='_blank'>{{=r.name}}</a></td>
        <td>{{=r.description}}</td>
        <td>{{for p in r.rules:
            =XML('<div>%s</div> '% rule_dict[p])
        pass}}</td>
    </tr>
{{pass}}
</table>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Information</h4>
  </div>
  <div id="modal-body" class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript" src="/XNCMonitor/static/js/bootstrap-tooltip.js"></script>
<script type="text/javascript">
$('table').tooltip({ selector: "[data-toggle=tooltip]"});

function showPairModel(pairname,i){
    $('#myModalLabel').html(pairname);
    ajax('pair/'+i,null,'modal-body');
    $('#myModal').modal();
}

function getActiveTab(){
    if ($('#filterview').prop('class') == 'tab-pane active')
        return 'filter';
    else if ($('#ruleview').prop('class') == 'tab-pane active')
        return 'rule';
    return 'ruleset';
}

$("#btn-new").on('click', function(){
    window.open('new_record/'+getActiveTab());
});

function getSelectList(){
    var selected = [];
    $.each($('#'+getActiveTab()+'view tr[style!="display: none;"] .sel:checked'), function(i, s){
        selected.push(s.value);
    });
    return selected;
}

$("#btn-del").on('click', function(){
    selected = getSelectList();
    alert( "TODO:\nDelete "+getActiveTab()+" items for " + selected.join(','));
});

$('#filter_table .toggle-all').on('change', function (e) {
    e.preventDefault();
    $("#filter_table .sel").prop('checked', $(this).is(':checked'));
});

$('#rule_table .toggle-all').on('change', function (e) {
    e.preventDefault();
    $("#rule_table .sel").prop('checked', $(this).is(':checked'));
});

$('#ruleset_table .toggle-all').on('change', function (e) {
    e.preventDefault();
    $("#ruleset_table .sel").prop('checked', $(this).is(':checked'));
});

var jversion = $.fn.jquery.split('.'), jmajor = parseFloat(jversion[0]), jminor = parseFloat(jversion[1]);
if (jmajor<2 && jminor<8) { // build the pseudo selector for jQuery < 1.8
    $.expr[':'].filterTableFind = function(a, i, m) { // build the case insensitive filtering functionality as a pseudo-selector expression
        return $(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
    };
} else { // build the pseudo selector for jQuery >= 1.8
    $.expr[':'].filterTableFind = jQuery.expr.createPseudo(function(arg) {
        return function(el) {
            return $(el).text().toUpperCase().indexOf(arg.toUpperCase())>=0;
        };
    });
}
$('#search').bind('keyup', function() { // bind doFiltering() to keyup
    var q = $(this).val();
    var tbody=$('tbody'); // cache the tbody element
    if (q==='') { // if the filtering query is blank
        tbody.find('tr').show().addClass('visible'); // show all rows
        tbody.find('td').removeClass('highlight'); // remove the row highlight from all cells
    } else { // if the filter query is not blank
        tbody.find('tr').hide().removeClass('visible'); // hide all rows, assuming none were found
        tbody.find('td').removeClass('highlight').filter(':filterTableFind("'+q.replace(/(['"])/g,'\\$1')+'")').addClass('highlight').closest('tr').show().addClass('visible');
    }
});
</script>